// 全局样式引入使用， 如果在vite.config.ts配置文件中配置了全局样式引入后就不需要在这里手动引入了
// @import '../variable.scss';

.content {
  height: 100%;
  background: url('@assets/images/earth.jpeg') no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .formStyle {
    text-align: left;

    :global {
      .arco-form-label-item>label {
        color: white !important;
      }

      .arco-form-label-item .arco-form-item-symbol {
        color: red;
      }
    }
  }
}